/* common shared style */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* header section stylin */

/* nav styling */

nav {
    display: flex;
    justify-content: space-around;
    margin: 37px 0px;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.span-color {
    color: #FF42A5;
}

nav>ul {
    display: flex;
    align-items: center;
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
}

nav li {
    list-style: none;
    margin-right: 32px;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.youtube {
    color: red;
}

/* styling banner section */

.banner {
    display: flex;
    gap: 24px;
    background-color: rgba(140, 87, 238, 0.03);
    padding: 0px 120px;
}

.banner-title {
    width: 50%;
    padding: 148px 0px;
    margin-right: 180px;
}

.title-play {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.title-goat {
    font-size: 5.9rem;
    font-weight: 800;
    color: #F948B2;
    margin-top: 0px;
    margin-bottom: 24px;
}

.banner-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.banner-image img {
    width: 100%;
    height: 100%;
}

.banner-button {
    margin-top: 40px;
}

.button-signin {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 40px;
    border: none;
    border-radius: 48px;
    background: #FF42A5;
}

.button-rouge {
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 48px;
    background: #4EC5F7;
}


/* styling card section */

.card-title {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}

.card-span {
    color: #8758F1;
}

.card-paragraph {
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    gap: 20px;
    padding: 0px 110px;
}

.card {
    width: 60%;
}

.card img {
    width: 100%;
}

.card-description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

/* instant section styling */
.instant-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 110px;
}

.instant-description {
    padding-right: 200px;
    margin-bottom: 200px;
}

.instant-title {
    text-align: right;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.instant-play {
    color: #8758F1;
}

.instant-paragraph {
    color: #534C64;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
}

.anniversary-image img {
    width: 100%;
    height: auto;
}

.angela {
    position: relative;
    width: 45%;
    top: -170px;
    left: -80px;
}

/* all button section */

.all-button{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 30px;
    margin: 0px 80px;
    
}


.all-button img {
    width: 20px;
    height: 20px;
}

.all-button button {
    width: 250px;
    border-radius:30px;
    border:none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genre {
    margin-left:10px;
    margin-bottom: 6px;
    color: #0B0223;
    font-size: 0.8rem;
    font-weight: 600;
}

.genre:hover{
    color:#FF42A5;
}

button:hover{
    border: 1px solid #FF42A5;
}

/* responsive styling for mobile large */
@media screen and (max-width: 425px) {
    nav {
        flex-direction: column;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .nav-title {
        font-size: 2.2rem;
    }

    nav>ul {
        flex-direction: column;
        margin-top: 60px;
        font-size: 0.8rem;
    }

    nav li {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 0px 40px;
        background-color: white;
    }

    .banner-title {
        text-align: center;
        width: 330px;
        margin-right: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: rgba(140, 87, 238, 0.03);
    }

    .title-play {
        font-size: 2.4rem;
        padding-top: 50px;
    }

    .title-goat {
        font-size: 3.8rem;
    }

    .banner-description {
        font-size: 1rem;
        text-align: left;
    }

    .banner-button {
        font-size: 1rem;
        text-align: center;
        margin-left: 0px;
    }

    .button-signin {
        font-size: 0.8rem;
        width: 100px;
        height: 40px;
        padding: 10px 20px;
        border-radius: 24px;
        margin-right: 10px;
    }

    .button-rouge {
        font-size: 0.8rem;
        width: 110px;
        height: 40px;
        padding: 5px 20px;
        border-radius: 24px;
    }

    .card-title {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 60px;
    }

    .card-container {
        flex-direction: column;
    }

    .card-paragraph {
        font-size: 0.7rem;
    }

    .card {
        width: 100%;
    }

    .card-description {
        font-size: 0.7rem;
    }

    .instant-container {
        flex-direction: column;
    }

    .instant-description {
        padding-right: 0px;
        margin-bottom: 30px;
        width: 325px;
    }

    .instant-title {
        text-align: center;
        font-size: 1.8rem;
    }

    .instant-paragraph {
        text-align: center;
        font-size: 0.7rem;
        padding: 0px 20px;
    }

    .anniversary-image {
        width: 300px;
    }

    .angela {
        top: -130px;
        left: -40px;
    }

    .all-button{
        grid-template-columns: repeat(3,1fr);
        margin:0px;
    }

    .all-button button{
        width: 90px;
    }

    .genre{
        margin-left: 0px;
    }
}

/* responsive styling for tablet */
@media screen and (min-width:425px) and (max-width:768px) {
    nav {
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 75px;
    }

    nav>ul {
        margin-top: 60px;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 0px 40px;
        background-color: white;
    }

    .banner-title {
        text-align: center;
        width: 100%;
        margin-right: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: rgba(140, 87, 238, 0.03);
    }

    .title-play {
        padding-top: 50px;
        text-align: center;
    }

    .title-goat {
        text-align: center;
    }

    .banner-description {
        font-size: 1rem;
        text-align: left;
    }

    .banner-button {
        font-size: 1rem;
        text-align: center;
        margin-left: 0px;
    }

    .button-signin {
        font-size: 0.8rem;
        width: 100px;
        height: 40px;
        padding: 10px 20px;
        border-radius: 24px;
        margin-right: 10px;
    }

    .button-rouge {
        font-size: 0.8rem;
        width: 110px;
        height: 40px;
        padding: 5px 20px;
        border-radius: 24px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .instant-container {
        flex-direction: column;
        margin-top: 100px;
    }

    .instant-description {
        padding-right: 0px;
        margin-bottom: 30px;
    }

    .instant-title {
        text-align: center;
        margin-top: 20px;
    }

    .instant-paragraph {
        text-align: center;
    }

    .all-button{
        grid-template-columns: repeat(3,1fr);
    }

    .all-button button{
        width:100px;
    }
}